# Copy this file to .env and change the values for your own computer/host.
CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/pos-midterm/public/'
app.indexPage = ''
database.default.hostname = localhost
database.default.database = pos_midterm
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
